<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head(title='Article')"></head>
  <body>
    <div th:replace="fragments/layout :: navbar"></div>
   
    <div class="container">
      <div th:replace="fragments/layout :: notify"></div>
         
      <div class="row">
      
        <div th:replace="fragments/layout :: siteDetail"></div>
      
        <div th:replace="fragments/layout :: sidebar"></div>
        
      </div><!-- /.row -->
             
    </div> <!-- /container -->
    
    <div th:replace="fragments/layout :: footer"></div>
      
    <div th:replace="fragments/layout :: scripts"></div>
  </body>
</html>
